body,
html {
  width: 100%;
  height: auto;
  font-family: 'helvetica', sans-serif;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}


h1 {
	font-size: 2rem;
	color: black;
  font-weight: bolder;
}

hr {
  border-color: #F05F44;
  border-width: 1px;
  max-width: 65px;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  color: black;
}

.btn-primary {
  background-color: white;
  border-color: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
}

.btn-xl {
  padding: 1rem 2rem;
}

img {
  width: 55px;
  height: 85px;
}
.design {
  font-weight: 400;
}
