body,
html {
  width: 100%;
  height: 100%;
  font-family: 'helvetica', sans-serif;
  background-color: ghostwhite;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: 250px;
  height: 250px;;
  align-items: center;
  justify-content: center;
}
img {
  width: 55px;
  height: 85px;
}

h1 {
	font-size: 2rem;
	color: black;
  font-weight: 600;
  text-transform: lowercase;
}

.design {
  font-weight: 200;
}

hr {
  border-color: #F05F44;
  border-width: 3px;
}

a {
  color: black;
}

a:hover {
  color: #F05F44;
}
